<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Teacher" class="demo.Teacher">
        <constructor-arg value="Mathematics"> </constructor-arg>
    </bean>
    <bean id="Tutor" class="demo.Tutor"></bean>

</beans>